@mixin flex_column {
    display: flex;
    flex-direction: column;
}
@mixin noOutlineBorder {
    border: none;
    outline: none;
}

@mixin a_link_text {
    cursor: pointer;
    color: rgb(87, 167, 168);
    &:hover {
        color: rgb(62, 104, 105);
    }
}

.Entrance {
    --out-border-size: 2px;
    width: 70%;
    max-width: 1024px;
    margin: 10vh auto;
    display: flex;
    border: var(--out-border-size) solid rgb(105, 105, 105);
    overflow: hidden;
    .loginImage {
        flex: 0 0 50%;
        height: auto;
        background: linear-gradient(130deg, rgb(177, 227, 247) 0%, rgba(14, 124, 164, 1) 100%);
    }
    .signinForm,
    .registeForm {
        --form_fontsize: 1.25rem;
        flex: 0 0 50%;
        padding: 2rem 1.5rem;
        box-sizing: border-box;
        font-size: var(--form_fontsize);
        @include flex_column();
        justify-content: space-between;
        .title {
            font-size: 2rem;
            border: bolder;
            text-align: center;
            margin-bottom: 2rem;
        }
        .form_group {
            margin-bottom: 1rem;
            @include flex_column();
            label {
                line-height: calc(2 * var(--form_fontsize));
            }
            input {
                font-size: calc(0.9 * var(--form_fontsize));
                padding: 0.5rem;
                @include noOutlineBorder();
                border-bottom: 1px solid #8e8c8c;
            }
            .fogretPassword {
                font-size: calc(0.8 * var(--form_fontsize));
                text-align: right;
                @include a_link_text();
            }
            .divide_line {
                position: relative;
                font-weight: bolder;
                color: rgb(102, 98, 98);
                text-align: center;
            }
            .submitBtn {
                width: 45%;
                padding: 0.5rem 0;
                margin: 1rem auto 0;
                cursor: pointer;
                border-radius: 5rem;
                font-size: calc(0.9 * var(--form_fontsize));
                @include noOutlineBorder();
                &.signIn {
                    color: white;
                    background: linear-gradient(150deg, rgba(125, 177, 197, 1) 0%, rgba(14, 124, 164, 1) 100%);
                }
                &.registe {
                    color: black;
                    background: linear-gradient(150deg, rgb(241, 233, 118) 0%, rgb(204, 185, 13) 100%);
                }
                &:hover {
                    font-weight: bold;
                }
            }
            .goRegiste {
                text-align: center;
                padding: 1.5rem 0 0;
                font-size: calc(0.8 * var(--form_fontsize));
                @include a_link_text();
            }
        }
    }
}

@media (max-width: 900px) {
    .signIn {
        width: 90%;
        .loginImage {
            display: none;
        }
        .signInForm {
            flex: 0 0 100%;
            .form_group {
                .submit {
                    width: 90%;
                }
            }
        }
    }
}

// Temp: will be remove
.temp_logIn {
    width: 90%;
    padding: 0.5rem 0;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5rem;
    font-size: calc(0.9 * var(--form_fontsize));
    color: white;
    background: linear-gradient(150deg, rgb(122, 133, 138) 0%, rgb(16, 24, 27) 100%);
    @include noOutlineBorder();
}
