@mixin flex_align_center {
    display: flex;
    align-items: center;
}

.Chatroom_wrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
    display: grid;
    grid-template-rows: 4rem auto;
}

.topbar {
    color: #333232;
    font-size: 1.5rem;
    padding: 0 6rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
    justify-content: space-between;
    @include flex_align_center();
    .logo {
        @include flex_align_center();
        .logo_image {
            width: 2rem;
            padding-right: 1rem;
        }
        .logo_text {
            font-weight: bolder;
        }
    }
    .user {
        @include flex_align_center();
        .username {
            padding-right: 2rem;
            &::before {
                content: "Hi, ";
            }
        }
        .profile_img {
            --profile_img: url("/static/frontend/img/guest.png");
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-image: var(--profile_img);
            background-size: cover;
            cursor: pointer;
        }
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

// ========= RWD ===========
@media (max-width: 800px) {
    .topbar {
        padding: 0 1rem;
        .user {
            .username {
                display: none;
            }
        }
    }
}
