.Lobby {
    height: 100vh;
    // topbar
    > .topbar {
        height: 5rem;
        box-sizing: border-box;
        padding: 1rem 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 #dadce0;
        .container {
            width: 90%;
            // max-width: 1400px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .Logo {
                @include flex_align_center();
                img {
                    width: 3rem;
                    height: auto;
                }
                h1 {
                    padding-left: 1rem;
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
            }
            .User {
                position: relative;
                .profile_image {
                    display: block;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background: rgb(255, 255, 255);
                    background-position: center;
                    background-size: cover;
                    border: 1px solid #cac9c9;
                    cursor: pointer;
                }
                .profile_box {
                    opacity: 0;
                    width: 15rem;
                    padding: 1rem 0;
                    background: #fff;
                    border: 1px solid #ccc;
                    border-color: rgba(0, 0, 0, 0.2);
                    border-radius: 0.5rem;
                    position: absolute;
                    top: 3.8rem;
                    right: 0;
                    transition: all 0.6s ease;
                    z-index: -1;
                    &.show {
                        opacity: 1;
                        z-index: 999;
                    }
                    .profile_image {
                        margin: 0.5rem auto;
                    }
                    .profile_name,
                    .profile_email {
                        text-align: center;
                        padding: 0.5rem;
                    }
                    .signout_box {
                        padding-top: 1rem;
                        margin-top: 1rem;
                        border-top: 1px solid #dadce0;
                        @include flex-center();
                        .logout {
                            padding: 0.5rem 1rem;
                            border-radius: 0.2rem;
                            border: 1px solid #dadce0;
                            cursor: pointer;
                            user-select: none;
                            &:hover {
                                background: #e5e8ec;
                            }
                            &:active {
                                background: #bec1c5;
                            }
                        }
                    }
                }
            }
        }
    }

    // main_section
    .main_section {
        height: calc(100vh - 5rem);
        .container {
            width: 90%;
            margin: 0 auto;
            display: flex;
            height: 100%;
        }
    }

    // ** aside
    aside {
        flex: 0 0 300px;
        padding: 3rem 0;
        .createRoom {
            display: flex;
            align-items: center;
            width: 10.5rem;
            padding: 0.85rem 2rem;
            border-radius: 3rem;
            font-size: 1.25rem;
            letter-spacing: 0.2rem;
            color: white;
            background: rgb(46, 190, 126);
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background: rgb(36, 151, 99);
                .add_icon {
                    transform: rotate(0.25turn);
                }
            }
            .add_icon {
                color: rgb(255, 234, 45);
                font-size: 2rem;
                transform: rotate(0);
                transition: 0.3s;
            }
            span {
                margin-left: 1rem;
            }
        }
        .main_nav {
            padding-top: 3rem;
            li {
                padding: 0.5rem 2rem;
                width: 60%;
                &:hover {
                    background: rgb(240, 240, 240);
                    border-radius: 0 5rem 5rem 0;
                    .navlink {
                        color: black;
                    }
                }
                .navlink {
                    color: #525252;
                    font-size: 1.25rem;
                    padding: 1rem 0;
                    display: flex;
                    cursor: pointer;
                    .nav_icon {
                        flex: 0 0 3rem;
                    }
                }
            }
        }
    }

    // ** main
    main {
        width: 100%;
        max-width: 1300px;
        padding: 3rem 0;
        .title {
            font-size: 1.5rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgb(219, 218, 218);
        }
        // categories
        .categories {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: auto;
            .category {
                flex: 0 0 120px;
                font-size: 1.25rem;
                padding: 0.8rem;
                margin: 1rem 0;
                margin-right: 0.8rem;
                text-align: center;
                box-sizing: border-box;
                border-radius: 0.5rem;
                opacity: 0.7;
                z-index: 99;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
                i {
                    padding-right: 1rem;
                }
            }
        }
        .all_room {
            padding: 1rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            // room
            .room {
                flex: 0 0 270px;
                height: 270px;
                margin: 1rem 0;
                margin-right: 2.4rem;
                box-sizing: border-box;
                border-radius: 0.5rem;
                border: 1px solid rgb(156, 182, 156);
                position: relative;
                cursor: pointer;
                .image_box {
                    height: 220px;
                    overflow: hidden;
                    .room_background {
                        height: 100%;
                        background: rgb(202, 202, 202);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        border-radius: 0.5rem 0.5rem 0 0;
                        transform: scale(1);
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.1);
                            // image filter
                            -webkit-filter: opacity(0.8);
                            -moz-filter: opacity(0.8);
                            -o-filter: opacity(0.8);
                            -ms-filter: opacity(0.8);
                            filter: opacity(0.8);
                        }
                    }
                }
                .name_box {
                    height: 50px;
                    margin: 0 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .room_category {
                        font-size: 1rem;
                        padding: 0.5rem 1rem;
                        margin-right: 1rem;
                        background: rgb(178, 238, 178);
                        border-radius: 2rem;
                    }
                    .room_name {
                        font-weight: bolder;
                    }
                }
                .deleteBtn {
                    position: absolute;
                    top: 0;
                    right: -12%;
                    transform: translate(-50%, -50%);
                    width: 2.5rem;
                    height: 2.5rem;
                    box-sizing: border-box;
                    border-radius: 50%;
                    background: #e2e2e2;
                    display: none;
                    &:hover {
                        background: #bbbaba;
                    }
                }
                &:hover {
                    .deleteBtn {
                        @include flex-center();
                    }
                }
            }
        }
    }

    // create_room_form
    .create_room_box {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(189, 189, 189, 0.4);
        z-index: 998;
        @include flex_center();
        .form_box {
            width: 40%;
            border-radius: 0.5rem;
            background: white;
            position: relative;
            .title {
                flex: 1 1 auto;
                font-size: 1.5rem;
                padding: 1rem 0;
                text-align: center;
                color: white;
                border-radius: 0.5rem 0.5rem 0 0;
                background: rgb(46, 190, 126);
            }
            .cross {
                padding: 1rem 2rem;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.5rem;
                color: rgb(230, 230, 230);
                cursor: pointer;
                @include flex_center();
                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
            // Form style
            .create_form {
                padding: 2rem 1rem 1rem 1rem;
                .form_group {
                    padding: 0 1.5rem 1.5rem 1.5rem;
                    display: flex;
                    align-items: baseline;
                    label {
                        flex: 0 0 5rem;
                        color: #808080;
                    }
                    input {
                        flex: 0 0 50%;
                        max-width: 15rem;
                        font-size: 1.1rem;
                        padding: 0.5rem 1rem;
                        border: 1px solid #ccc;
                    }
                    .select {
                        flex: 0 0 10rem;
                        font-size: 1.1rem;
                        padding: 0.5rem 1rem;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        .select_icon {
                            position: absolute;
                            top: 45%;
                            bottom: 0;
                            right: 0;
                            transform: translateY(-50%);
                            // font-size: 1.25rem;
                            padding: 0 1rem;
                            color: rgb(117, 117, 117);
                        }
                        .placeholder {
                            color: rgb(117, 117, 117);
                            // font-size: 1.25rem;
                            line-height: 1.5rem;
                        }
                        .main_select {
                            position: absolute;
                            z-index: 99;
                            top: -20rem;
                            left: -1px;
                            width: calc(100% + 2px);
                            .value {
                                padding: 0.5rem 1rem;
                                background: rgb(255, 255, 255);
                                border-left: 1px solid #ccc;
                                border-right: 1px solid #ccc;
                                cursor: pointer;
                                &:hover {
                                    background: rgb(236, 236, 236);
                                }
                            }
                        }
                        &.show {
                            overflow: visible;
                            .main_select {
                                top: 2.5rem;
                            }
                        }
                    }
                    input[type="file"] {
                        display: none;
                    }
                    .image_dropbox {
                        margin-top: 1.5rem;
                        width: 100%;
                        height: 15rem;
                        position: relative;
                        @include flex_center();
                        justify-content: flex-start;
                        &.show {
                            .upload_image {
                                opacity: 0;
                            }
                        }
                        .upload_image {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            width: 18rem;
                            font-size: 3rem;
                            cursor: pointer;
                            @include flex-center();
                            p {
                                font-size: 1rem;
                                padding: 1rem 0;
                            }
                        }
                        .previewImg {
                            width: 18rem;
                            height: 100%;
                            box-sizing: border-box;
                            border: 3px dashed gray;
                            background: rgb(228, 228, 228);
                            background-position: center center;
                            background-size: cover;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &::after {
                                content: "";
                            }
                        }
                    }
                    .submitBTN {
                        font-size: 1.2rem;
                        padding: 0.25rem 1.25rem;
                        outline: none;
                        border: none;
                        color: rgb(51, 51, 51);
                        background: #fbd623;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        &:hover {
                            background: #ecca1c;
                        }
                        &:disabled {
                            background: #d8d8d8;
                        }
                    }
                    &.flex_column {
                        align-items: flex-start;
                        flex-direction: column;
                        label {
                            flex: 0 0 auto;
                        }
                    }
                    &.submit {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    // mobile aside
    .mb_aside_btn {
        display: none;
        z-index: 99999;
    }

    .mb_aside {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.7);
        // hide
        opacity: 0;
        z-index: -3;
        transition: opacity 0.8s;
        .nav {
            width: 100%;
            height: 100%;
            position: relative;
            ul {
                position: absolute;
                bottom: 5rem;
                right: -9rem;
                transition: right 0.6s ease;
                li {
                    padding: 0.5rem 1rem 0.5rem 2rem;
                    margin: 0.5rem 0;
                    background: rgb(223, 222, 222);
                    background: linear-gradient(
                        -90deg,
                        rgba(223, 222, 222, 1) 0%,
                        #e6e6e6 45%,
                        rgba(185, 185, 185, 1) 100%
                    );
                    border-radius: 1rem 0 0 1rem;
                    a {
                        i {
                            padding-right: 1rem;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1000px) {
        // main_section
        .main_section {
            .container {
                flex-direction: column;
            }
        }

        // ** aside
        aside {
            display: none;
        }

        // ** main
        main {
            width: 100%;
            padding: 2rem 0;
            .title {
                font-size: 1.5rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid rgb(219, 218, 218);
            }
            // categories
            .categories {
                width: 95%;
                margin: 0 auto;
            }
            .all_room {
                width: 95%;
                margin: 0 auto;
                .room {
                    flex: 0 0 200px;
                    height: 200px;
                    margin: 0 0.5rem 1rem 0.5rem;
                    .image_box {
                        height: 150px;
                    }
                }
            }
        }

        .create_room_box {
            .form_box {
                width: 80%;
                margin-bottom: 15rem;
            }
        }

        // mobile aside
        .mb_aside_btn {
            display: block;
            position: fixed;
            right: 0;
            bottom: 0;
            margin: 1rem;
            padding: 0.6rem;
            border-radius: 50%;
            background: rgb(92, 191, 126);
            font-size: 2.4rem;
            color: rgb(255, 234, 45);
            transition: 0.2s;
            cursor: pointer;
            @include flex-center();
            .add_icon {
                transform: rotate(0);
                transition: 0.3s;
                &.show {
                    transform: rotate(-0.25turn);
                }
            }
        }

        .mb_aside {
            &.show {
                opacity: 1;
                z-index: 99;
                .nav {
                    ul {
                        right: 0rem;
                        transition: right 0.6s ease;
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        // ** main
        main {
            width: 100%;
            padding: 2.5rem 0;
            .categories {
                width: 280px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                .category {
                    font-size: 1.25rem;
                    width: 120px;
                    padding: 0.8rem;
                    margin: 1rem 0;
                    margin-right: 0;
                }
            }
            .all_room {
                flex-direction: column;
                .room {
                    flex: 0 0 280px;
                    width: 280px;
                    height: 280px;
                    margin-right: 0rem;
                    margin: 1rem auto;
                    .image_box {
                        height: 230px;
                    }
                }
            }
        }

        .create_room_box {
            .form_box {
                width: 90%;
                margin-bottom: 1rem;
                .title {
                    font-size: 1.1rem;
                }
                .cross {
                    padding: 0.8rem 1rem;
                    font-size: 1rem;
                }
                // Form style
                .create_form {
                    padding: 1rem 0.5rem;
                    .form_group {
                        padding: 0 0 1rem 0;
                        &.image_group {
                            flex-direction: column;
                            label {
                                flex: 0 0 1.5rem;
                            }
                        }
                        label {
                            flex: 0 0 5rem;
                        }
                        input {
                            max-width: 10rem;
                        }
                        .select {
                            padding: 0.3rem 1rem;
                        }
                        .image_dropbox {
                            margin-top: 0.5rem;
                            .previewImg {
                                margin: 0 auto;
                            }
                            .upload_image {
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}
