.Lobby {
    height: 100vh;
    // topbar
    > .topbar {
        height: 5rem;
        box-sizing: border-box;
        padding: 1rem 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 #dadce0;
        .container {
            width: 90%;
            // max-width: 1400px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .Logo {
                @include flex_align_center();
                img {
                    width: 3rem;
                    height: auto;
                }
                h1 {
                    padding-left: 1rem;
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
            }
            .User {
                position: relative;
                .profile_image {
                    display: block;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background: rgb(255, 255, 255);
                    background-position: center;
                    background-size: cover;
                    border: 1px solid #cac9c9;
                    cursor: pointer;
                }
                .profile_box {
                    opacity: 0;
                    width: 15rem;
                    padding: 1rem 0;
                    background: #fff;
                    border: 1px solid #ccc;
                    border-color: rgba(0, 0, 0, 0.2);
                    border-radius: 0.5rem;
                    position: absolute;
                    top: 3.8rem;
                    right: 0;
                    transition: all 0.6s ease;
                    z-index: 999;
                    &.show {
                        opacity: 1;
                    }
                    .profile_image {
                        margin: .5rem auto;
                    }
                    .profile_name,
                    .profile_email{
                        text-align: center;
                        padding: .5rem;
                    }
                    .signout_box{
                        padding-top: 1rem;
                        margin-top: 1rem;
                        border-top: 1px solid #dadce0;
                        @include flex-center();
                        .logout{
                            padding: .5rem 1rem;
                            border-radius: .2rem;
                            border: 1px solid #dadce0;
                            cursor: pointer;
                            user-select: none;
                            &:hover{
                                background: #e5e8ec;
                            }
                            &:active{
                                background: #bec1c5;
                            }
                        }
                    }
                }
            }
        }
    }

    // main_section
    .main_section {
        height: calc(100vh - 5rem);
        .container {
            width: 90%;
            margin: 0 auto;
            display: flex;
            height: 100%;
        }
    }

    // ** aside
    aside {
        flex: 0 0 300px;
        padding: 3rem 0;
        .createRoom {
            display: flex;
            align-items: center;
            width: 10.5rem;
            padding: 0.85rem 2rem;
            border-radius: 3rem;
            font-size: 1.25rem;
            letter-spacing: 0.2rem;
            color: white;
            background: rgb(46, 190, 126);
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                background: rgb(36, 151, 99);
                .add_icon {
                    transform: rotate(0.25turn);
                }
            }
            .add_icon {
                color: rgb(255, 234, 45);
                font-size: 2rem;
                transform: rotate(0);
                transition: 0.3s;
            }
            span {
                margin-left: 1rem;
            }
        }
        .main_nav {
            padding-top: 3rem;
            li {
                padding: 0.5rem 2rem;
                width: 60%;
                &:hover {
                    background: rgb(240, 240, 240);
                    border-radius: 0 5rem 5rem 0;
                    .navlink {
                        color: black;
                    }
                }
                .navlink {
                    color: #525252;
                    font-size: 1.25rem;
                    padding: 1rem 0;
                    display: flex;
                    cursor: pointer;
                    .nav_icon {
                        flex: 0 0 3rem;
                    }
                }
            }
        }
    }

    // ** main
    main {
        width: 100%;
        padding: 3rem 0;
        .title {
            font-size: 1.5rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgb(219, 218, 218);
        }
        .all_room {
            padding: 2rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .room {
                flex: 0 0 300px;
                height: 300px;
                margin: 1rem 0;
                margin-right: 3rem;
                box-sizing: border-box;
                border-radius: 0.5rem;
                border: 1px solid rgb(156, 182, 156);
                cursor: pointer;
                .image_box {
                    height: 250px;
                    overflow: hidden;
                    .room_background {
                        height: 100%;
                        background: rgb(202, 202, 202);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        border-radius: 0.5rem 0.5rem 0 0;
                        transform: scale(1);
                        transition: 0.5s;
                        &:hover {
                            transform: scale(1.1);
                            // image filter
                            -webkit-filter: opacity(0.8);
                            -moz-filter: opacity(0.8);
                            -o-filter: opacity(0.8);
                            -ms-filter: opacity(0.8);
                            filter: opacity(0.8);
                        }
                    }
                }
                .name_box {
                    height: 50px;
                    margin: 0 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .room_category {
                        font-size: 1rem;
                        padding: 0.5rem 1rem;
                        margin-right: 1rem;
                        background: rgb(178, 238, 178);
                        border-radius: 2rem;
                    }
                    .room_name {
                        font-weight: bolder;
                    }
                }
            }
        }
    }

    // create_room_form
    .create_room_box {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(189, 189, 189, 0.4);
        @include flex_center();
        .form_box {
            width: 40%;
            border-radius: 0.5rem;
            background: white;
            position: relative;
            .title {
                flex: 1 1 auto;
                font-size: 1.5rem;
                padding: 1rem 0;
                text-align: center;
                color: white;
                border-radius: 0.5rem 0.5rem 0 0;
                background: rgb(46, 190, 126);
            }
            .cross {
                padding: 1rem 2rem;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.5rem;
                color: rgb(230, 230, 230);
                cursor: pointer;
                @include flex_center();
                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
            // Form style
            .create_form {
                padding: 2rem 2rem 1rem 2rem;
                .form_group {
                    padding: 1.5rem;
                    padding-top: 0;
                    display: flex;
                    align-items: baseline;
                    label {
                        flex: 0 0 7rem;
                        color: #808080;
                        font-size: 1.25rem;
                    }
                    input {
                        flex: 0 0 60%;
                        font-size: 1.5rem;
                        padding: 0.5rem 1rem;
                        border-radius: 0.5rem;
                        border: 1px solid #ccc;
                        &::placeholder {
                            font-size: 1.25rem;
                        }
                    }
                    .select {
                        flex: 0 0 160px;
                        font-size: 1.5rem;
                        padding: 0.5rem 1rem;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        .select_icon {
                            position: absolute;
                            top: 45%;
                            bottom: 0;
                            right: 0;
                            transform: translateY(-50%);
                            font-size: 1.25rem;
                            padding: 0 1rem;
                            color: rgb(117, 117, 117);
                        }
                        .placeholder {
                            color: rgb(117, 117, 117);
                            font-size: 1.25rem;
                            line-height: 1.5rem;
                        }
                        .main_select {
                            position: absolute;
                            z-index: 99;
                            top: -20rem;
                            left: -1px;
                            width: calc(100% + 2px);
                            .value {
                                padding: 0.5rem 1rem;
                                background: rgb(255, 255, 255);
                                border-left: 1px solid #ccc;
                                border-right: 1px solid #ccc;
                                cursor: pointer;
                                &:hover {
                                    background: rgb(236, 236, 236);
                                }
                            }
                        }
                        &.show {
                            overflow: visible;
                            .main_select {
                                top: 2.5rem;
                            }
                        }
                    }
                    input[type="file"] {
                        display: none;
                    }
                    .image_dropbox {
                        margin-top: 1.5rem;
                        width: 100%;
                        height: 15rem;
                        position: relative;
                        @include flex_center();
                        justify-content: start;
                        .upload_image {
                            font-size: 3rem;
                            text-align: center;
                            cursor: pointer;
                            p {
                                font-size: 1rem;
                                padding: 1rem 0;
                            }
                        }
                        .previewImg{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            width: 240px;
                            box-sizing: border-box;
                            border: 3px dashed gray;
                            background: rgb(228, 228, 228);
                            background-position: center center;
                            background-size: cover;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &::after{
                                content: "預覽圖";
                                padding-left: 1.25rem;
                                letter-spacing: 1.25rem;
                                color: rgb(165, 165, 165);
                            }
                        }
                    }
                    .submitBTN {
                        font-size: 1.25rem;
                        padding: 0.25rem 1.25rem;
                        outline: none;
                        border: none;
                        color: rgb(51, 51, 51);
                        background: #fbd623;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        &:hover {
                            background: #ecca1c;
                        }
                    }
                    &.flex_column {
                        align-items: flex-start;
                        flex-direction: column;
                        label {
                            flex: 0 0 auto;
                        }
                    }
                    &.submit {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    @media (max-width: 1100px){
        // main_section
        .main_section {
            .container {
                flex-direction: column;
            }
        }

        // ** aside
        aside{
            display: none;
        }

        // ** main
        main {
            width: 100%;
            padding: 3rem 0;
            .title {
                font-size: 1.5rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid rgb(219, 218, 218);
            }
            .all_room {
                .room {
                    flex: 0 0 250px;
                    height: 250px;
                    margin-right: 2rem;
                    .image_box {
                        height: 200px;
                    }
                }
            }
        }
    }

    @media (max-width: 500px){
        // ** main
        main {
            width: 100%;
            padding: 2.5rem 0;
            .all_room {
                flex-direction: column;
                .room {
                    flex: 0 0 280px;
                    width: 280px;
                    height: 280px;
                    margin-right: 0rem;
                    margin: 1rem auto;
                    .image_box {
                        height: 230px;
                    }
                }
            }
        }
    }
}
