html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// font fmaily
body {
    font-family: 'Roboto', Arial, 'Noto Sans TC', "Microsoft JhengHei", sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

input {
	outline: none;
	border: none;
}

$sign_bg: radial-gradient(
		circle at 62% 39%,
		rgba(30, 30, 30, 0.05) 0%,
		rgba(30, 30, 30, 0.05) 8%,
		transparent 8%,
		transparent 16%,
		transparent 16%,
		transparent 28%,
		transparent 28%,
		transparent 100%
	),
	radial-gradient(
		circle at 19% 61%,
		rgba(201, 201, 201, 0.01) 0%,
		rgba(201, 201, 201, 0.01) 59%,
		transparent 59%,
		transparent 60%,
		transparent 60%,
		transparent 99%,
		transparent 99%,
		transparent 100%
	),
	radial-gradient(
		circle at 15% 5%,
		rgba(186, 186, 186, 0.05) 0%,
		rgba(186, 186, 186, 0.05) 9%,
		transparent 9%,
		transparent 79%,
		transparent 79%,
		transparent 92%,
		transparent 92%,
		transparent 100%
	),
	radial-gradient(
		circle at 64% 49%,
		rgba(51, 51, 51, 0.08) 0%,
		rgba(51, 51, 51, 0.08) 22%,
		transparent 22%,
		transparent 50%,
		transparent 50%,
		transparent 96%,
		transparent 96%,
		transparent 100%
	),
	radial-gradient(
		circle at 53% 21%,
		rgba(0, 0, 0, 0.04) 0%,
		rgba(0, 0, 0, 0.04) 21%,
		transparent 21%,
		transparent 80%,
		transparent 80%,
		transparent 89%,
		transparent 89%,
		transparent 100%
	),
	radial-gradient(
		circle at 14% 91%,
		rgba(49, 49, 49, 0.04) 0%,
		rgba(49, 49, 49, 0.04) 35%,
		transparent 35%,
		transparent 63%,
		transparent 63%,
		transparent 71%,
		transparent 71%,
		transparent 100%
	),
	radial-gradient(
		circle at 42% 78%,
		rgba(121, 64, 64, 0.02) 0%,
		rgba(121, 64, 64, 0.02) 56%,
		transparent 56%,
		transparent 75%,
		transparent 75%,
		transparent 80%,
		transparent 80%,
		transparent 100%
	),
	radial-gradient(
		circle at 76% 85%,
		rgba(69, 69, 69, 0.06) 0%,
		rgba(69, 69, 69, 0.06) 53%,
		transparent 53%,
		transparent 68%,
		transparent 68%,
		transparent 97%,
		transparent 97%,
		transparent 100%
	),
	linear-gradient(450deg, rgb(143, 249, 177), rgb(62, 146, 80));

$registe_bg: radial-gradient(
		circle at 19% 90%,
		rgba(190, 190, 190, 0.04) 0%,
		rgba(190, 190, 190, 0.04) 17%,
		transparent 17%,
		transparent 100%
	),
	radial-gradient(
		circle at 73% 2%,
		rgba(78, 78, 78, 0.04) 0%,
		rgba(78, 78, 78, 0.04) 94%,
		transparent 94%,
		transparent 100%
	),
	radial-gradient(
		circle at 45% 2%,
		rgba(18, 18, 18, 0.04) 0%,
		rgba(18, 18, 18, 0.04) 55%,
		transparent 55%,
		transparent 100%
	),
	radial-gradient(
		circle at 76% 60%,
		rgba(110, 110, 110, 0.04) 0%,
		rgba(110, 110, 110, 0.04) 34%,
		transparent 34%,
		transparent 100%
	),
	radial-gradient(
		circle at 68% 56%,
		rgba(246, 246, 246, 0.04) 0%,
		rgba(246, 246, 246, 0.04) 16%,
		transparent 16%,
		transparent 100%
	),
	radial-gradient(
		circle at 71% 42%,
		rgba(156, 156, 156, 0.04) 0%,
		rgba(156, 156, 156, 0.04) 47%,
		transparent 47%,
		transparent 100%
	),
	radial-gradient(
		circle at 46% 82%,
		rgba(247, 247, 247, 0.04) 0%,
		rgba(247, 247, 247, 0.04) 39%,
		transparent 39%,
		transparent 100%
	),
	radial-gradient(
		circle at 50% 47%,
		rgba(209, 209, 209, 0.04) 0%,
		rgba(209, 209, 209, 0.04) 45%,
		transparent 45%,
		transparent 100%
	),
	linear-gradient(90deg, rgb(85, 85, 88), rgb(41, 40, 43));

