.lobby {
    .lobby_content {
        padding: 2rem;
        .banner {
            display: block;
            width: 100%;
            height: 30vh;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            background-image: $lobby_banner_bg;
            @include flex_center();
            flex-direction: column;
            .slogen {
                color: white;
                font-size: 1.5rem;
                line-height: 3rem;
                &.small {
                    color: #eaeaea;
                    font-size: 1.25rem;
                    line-height: 2rem;
                }
            }
        }

        .main {
            padding: 1rem 0;
            .title {
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
            .room_list {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                .room {
                    .room_background {
                        width: 100%;
                        height: 12.5rem;
                        background-position: center center;
                        background-size: cover;
                        border-radius: 1rem 1rem 0 0;
                        position: relative;
                        .room_icon {
                            position: absolute;
                            left: 2rem;
                            bottom: -1.5rem;
                            width: 3.5rem;
                            height: 3.5rem;
                            background-position: center center;
                            background-size: cover;
                            border: .2rem solid #ffff9b;
                            border-radius: 25%;
                        }
                    }
                    .room_inform {
                        display: flex;
                        flex-direction: column;
                        height: 8rem;
                        padding: 2rem 1rem 1rem 1rem;
                        background: #ffff9b;
                        border-radius: 0 0 1rem 1rem;
                        .room_name {
                            flex: 0 0 1.75rem;
                            font-size: 1.25rem;
                        }
                        .room_introduction {
                            flex: 1 1 auto;
                            line-height: 1.25rem;
                            color: #828282;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}
