$main_bg_color: rgb(255, 255, 240);

.form_group {
    width: 100%;
    min-height: 2rem;
    margin: 1rem 0;
    background: #e0e0e0;
}

.responsive_img {
    width: 100%;
    height: auto;
}

.close_btn {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_align_center {
    display: flex;
    align-items: center;
}

@mixin button_ripple_effect($animation_time) {
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        padding: 50%;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        opacity: 0;
        transition: transform $animation_time, opacity $animation_time;
    }
    &:hover {
        background: #7eaa8c;
    }
    &:active::after {
        transition: 0s;
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }
}

@mixin make_circle($width, $background) {
    width: $width;
    height: $width;
    border-radius: 50%;
    background: $background;
}

// background for gradient magic
$lobby_banner_bg: radial-gradient(
        circle at 62% 39%,
        rgba(30, 30, 30, 0.05) 0%,
        rgba(30, 30, 30, 0.05) 8%,
        transparent 8%,
        transparent 16%,
        transparent 16%,
        transparent 28%,
        transparent 28%,
        transparent 100%
    ),
    radial-gradient(
        circle at 19% 61%,
        rgba(201, 201, 201, 0.01) 0%,
        rgba(201, 201, 201, 0.01) 59%,
        transparent 59%,
        transparent 60%,
        transparent 60%,
        transparent 99%,
        transparent 99%,
        transparent 100%
    ),
    radial-gradient(
        circle at 15% 5%,
        rgba(186, 186, 186, 0.05) 0%,
        rgba(186, 186, 186, 0.05) 9%,
        transparent 9%,
        transparent 79%,
        transparent 79%,
        transparent 92%,
        transparent 92%,
        transparent 100%
    ),
    radial-gradient(
        circle at 64% 49%,
        rgba(51, 51, 51, 0.08) 0%,
        rgba(51, 51, 51, 0.08) 22%,
        transparent 22%,
        transparent 50%,
        transparent 50%,
        transparent 96%,
        transparent 96%,
        transparent 100%
    ),
    radial-gradient(
        circle at 53% 21%,
        rgba(0, 0, 0, 0.04) 0%,
        rgba(0, 0, 0, 0.04) 21%,
        transparent 21%,
        transparent 80%,
        transparent 80%,
        transparent 89%,
        transparent 89%,
        transparent 100%
    ),
    radial-gradient(
        circle at 14% 91%,
        rgba(49, 49, 49, 0.04) 0%,
        rgba(49, 49, 49, 0.04) 35%,
        transparent 35%,
        transparent 63%,
        transparent 63%,
        transparent 71%,
        transparent 71%,
        transparent 100%
    ),
    radial-gradient(
        circle at 42% 78%,
        rgba(64, 64, 64, 0.02) 0%,
        rgba(64, 64, 64, 0.02) 56%,
        transparent 56%,
        transparent 75%,
        transparent 75%,
        transparent 80%,
        transparent 80%,
        transparent 100%
    ),
    radial-gradient(
        circle at 76% 85%,
        rgba(69, 69, 69, 0.06) 0%,
        rgba(69, 69, 69, 0.06) 53%,
        transparent 53%,
        transparent 68%,
        transparent 68%,
        transparent 97%,
        transparent 97%,
        transparent 100%
    ),
    linear-gradient(60deg, #76d494, #449783);
