{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="{% static "frontend/img/Taigon_sm.png" %}" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <title>Taigon</title>
</head>
<body>
    <div id="root"></div>
    <script src="{% static "frontend/main.js" %}"></script>
</body>
</html>