$main_bg_color: rgb(255, 255, 240);

.form_group{
    width: 100%;
    min-height: 2rem;
    margin: 1rem 0;
    background: #e0e0e0;
}

.responsive_img{
    width: 100%;
    height: auto;
}

.close_btn{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_align_center {
    display: flex;
    align-items: center;
}

@mixin button_ripple_effect($animation_time) {
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        padding: 50%;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        opacity: 0;
        transition: transform $animation_time, opacity $animation_time;
    }
    &:hover {
        background: #7eaa8c;
    }
    &:active::after {
        transition: 0s;
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }
}
