.entrance_container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    @include flex_center();
    .entrance_box {
        width: 90%;
        max-width: 350px;
        height: 400px;
        padding: 2rem;
        background: $main_bg_color;
        border-radius: 0.5rem;
        position: relative;
        animation: marginDown .5s ease;
        .close_btn {
            top: 1rem;
            right: 1rem;
        }
        .box_container {
            height: 100%;
            display: flex;
            flex-direction: column;
            .title {
                font-size: 1.5rem;
                text-align: center;
                padding-bottom: 1rem;
            }
            .main {
                .form_group {
                    .entrance_input {
                        height: 2rem;
                        padding: 0 0.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .input_icon {
                            flex: 0 0 1.5rem;
                            height: 1.5rem;
                            background-size: cover;
                        }
                        .input_text {
                            flex-grow: 1;
                            padding-left: 0.5rem;
                            background: #e0e0e0;
                        }
                    }
                }
            }
            .footer {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .entrance_submit {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    font-size: 1.1rem;
                    cursor: pointer;
                    &.signin {
                        color: white;
                        background: rgb(73, 170, 106);
                        background: linear-gradient(132deg, rgba(73, 170, 106, 1) 0%, rgba(129, 218, 160, 1) 100%);
                    }
                    &.signup {
                        background: rgb(255, 224, 0);
                        background: linear-gradient(
                            132deg,
                            rgba(255, 224, 0, 1) 0%,
                            rgba(247, 255, 2, 0.8841911764705882) 100%
                        );
                    }
                }
                .small_text {
                    font-size: 0.8rem;
                    padding-top: 0.5rem;
                    text-align: center;
                    #goSignUp {
                        font-size: 1.1rem;
                        padding: 0 0.5rem;
                        color: #0ea6b7;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@keyframes marginDown{
    from{
        opacity: .8;
        margin-bottom: 2rem;
    }
    to{
        opacity: 1;
        margin-bottom: 0;
    }
}
